{% load thumbnail sekizai_tags %}
{% load static from staticfiles %}
{% addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "bannershow/bannerRotator/js/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "bannershow/bannerRotator/js/allinone_bannerRotator.js" %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<!--[if IE]><script src="{% static "bannershow/bannerRotator/js/excanvas.compiled.js" %}" type="text/javascript"></script><![endif]-->{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static "bannershow/bannerRotator/allinone_bannerRotator.css" %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
		jQuery(function() {
            jQuery('#rotator_{{ instance.pk }}').allinone_bannerRotator({
                showOnInitNavArrows:{{ instance.showOnInitNavArrows|lower }},
                showOnInitBottomNav:{{ instance.showOnInitBottomNav|lower }},
                autoHideBottomNav:{{ instance.autoHideBottomNav|lower }},
                showCircleTimer:{{ instance.showCircleTimer|lower }},
                enableTouchScreen:{{ instance.enableTouchScreen|lower }},
                absUrl:'{% static "bannershow/bannerRotator/" %}',
                skin:'{{ instance.skin }}',
                width:{{ instance.width }},
                height:{{ instance.height }},
                responsiveRelativeToBrowser:{{ instance.responsiveRelativeToBrowser|lower }},
                responsive:{{ instance.responsive|lower }},
                autoPlay:{{ instance.autoPlay|lower }},
                resizeImages:{{ instance.resizeImages|lower }},
                showNavArrows:{{ instance.arrows|lower }},
                numberOfVisibleItems:{{ instance.numberOfVisibleItems }},
                elementsHorizontalSpacing:{{ instance.elementsHorizontalSpacing }},
                elementsVerticalSpacing:{{ instance.elementsVerticalSpacing }},
                verticalAdjustment:{{ instance.verticalAdjustment }},
                animationTime:{{ instance.animationTime }},
                nextPrevMarginTop:{{ instance.nextPrevMarginTop }},
                playMovieMarginTop:{{ instance.playMovieMarginTop }},
                bottomNavMarginBottom:{{ instance.bottomNavMarginBottom }},
                showPreviewThumbs:true
			});
		});
    </script>
{% endaddtoblock %}
<!-- ------------------------------ Bannershow v3.0 -------------------------------------------------------->
{% spaceless %}
    <div class="bannershow bannerRotator" id="#bannershow{{ instance.pk }}">
        <div id="containingDiv">
            <div id="rotator_{{ instance.pk }}">
                <div class="myloader"></div>
                {% if instance.images.all.count > 0 %}
                    <!-- SLIDES -->
                    <ul class="allinone_rotator_list">
                        <!--Actual content -->
                        {% for feature in instance.images.all %}
                            {% thumbnail feature.image 700x200 crop upscale as image %}
                            {% thumbnail feature.image 80x80 as thumb %}
                            <li
                                data-bottom-thumb="{{ thumb.url }}"
                                data-text-id="#allinone_bannerRotator_photoText{{ feature.pk }}">
                                <a href="{{ feature.link.url }}">
                                    <img src="{{ image.url }}" alt="" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- TEXTS -->
                    {% for feature in instance.images.all %}
                    <div id="allinone_bannerRotator_photoText{{ feature.pk }}" class="allinone_bannerRotator_texts">
                        <div class="allinone_bannerRotator_text_line textElement{{ feature.pk }}_caption_classic_responsive"
                            data-initial-left="500"
                            data-initial-top="0"
                            data-final-left="50"
                            data-final-top="0"
                            data-duration="0.7"
                            data-fade-start="0"
                            data-delay="0.3">
                            {{ feature.caption }}</div>
                    </div>
                    {% endfor %}
                {% else %}
                    <!--Demo content-->
                    <!-- SLIDES -->
                    <ul class="allinone_carousel_list">
                        <li data-bottom-thumb="{% static "bannershow/bannerRotator/images/classic/thumbs/01_classic.jpg" %}" data-text-id="#allinone_bannerRotator_photoText1">
                            <img src="{% static "bannershow/bannerRotator/images/classic/01_classic.jpg" %}" alt="" />
                        </li>
                        <li data-bottom-thumb="{% static "bannershow/bannerRotator/images/classic/thumbs/02_classic.jpg" %}" data-text-id="#allinone_bannerRotator_photoText2" data-link="http://codecanyon.net/user/LambertGroup" data-target="_blank">
                            <img src="{% static "bannershow/bannerRotator/images/classic/02_classic.jpg" %}" alt="" />
                        </li>
                        <li data-bottom-thumb="{% static "bannershow/bannerRotator/images/classic/thumbs/03_classic.jpg" %}" data-text-id="#allinone_bannerRotator_photoText3">
                            <img src="{% static "bannershow/bannerRotator/images/classic/03_classic.jpg" %}" alt="" />
                        </li>
                        <li data-bottom-thumb="{% static "bannershow/bannerRotator/images/classic/thumbs/05_classic.jpg" %}" data-text-id="#allinone_bannerRotator_photoText5">
                            <img src="{% static "bannershow/bannerRotator/images/classic/05_classic.jpg" %}" alt="" />
                        </li>
                    </ul>
                    <!-- TEXTS -->
                    <div id="allinone_bannerRotator_photoText1" class="allinone_bannerRotator_texts">
                        <div
                            class="allinone_bannerRotator_text_line textElement11_classic_responsive"
                            data-initial-left="50"
                            data-initial-top="10"
                            data-final-left="50"
                            data-final-top="0"
                            data-duration="0.5"
                            data-fade-start="0"
                            data-delay="0">Up to 5 types of banners</div>
                        <div class="allinone_bannerRotator_text_line textElement12_classic_responsive"
                            data-initial-left="50"
                            data-initial-top="10"
                            data-final-left="50"
                            data-final-top="30"
                            data-duration="0.5"
                            data-fade-start="0"
                            data-delay="0.3">Each with <a href="http://codecanyon.net/user/LambertGroup" target="_blank">multiple</a> SKINS</div>
                    </div>
                    <div id="allinone_bannerRotator_photoText2" class="allinone_bannerRotator_texts">
                        <div class="allinone_bannerRotator_text_line textElement21_classic_responsive"
                             data-initial-left="460"
                             data-initial-top="60"
                             data-final-left="460"
                             data-final-top="0"
                             data-duration="0.5"
                             data-fade-start="0"
                             data-delay="0">16 transition effects<br /> for images</div>
                        <div class="allinone_bannerRotator_text_line textElement22_classic_responsive"
                             data-initial-left="460"
                             data-initial-top="145"
                             data-final-left="460"
                             data-final-top="75"
                             data-duration="0.5"
                             data-fade-start="0"
                             data-delay="0.3">optional can set the transition<br /> for each image</div>
                    </div>
                    <div id="allinone_bannerRotator_photoText3" class="allinone_bannerRotator_texts">
                        <div class="allinone_bannerRotator_text_line textElement31_classic_responsive" data-initial-left="480" data-initial-top="60" data-final-left="50" data-final-top="60" data-duration="0.5" data-fade-start="0" data-delay="0">Animated text from any direction</div>
                        <div class="allinone_bannerRotator_text_line textElement32_classic_responsive" data-initial-left="0" data-initial-top="85" data-final-left="50" data-final-top="85" data-duration="0.5" data-fade-start="0" data-delay="0.3">top, bottom, left and right</div>
                        <div class="allinone_bannerRotator_text_line textElement33_classic_responsive" data-initial-left="50" data-initial-top="250" data-final-left="50" data-final-top="123" data-duration="1" data-fade-start="0" data-delay="0.5">Any color, CSS and HTML formated</div>
                    </div>

                    <div id="allinone_bannerRotator_photoText4" class="allinone_bannerRotator_texts">
                        <div class="allinone_bannerRotator_text_line textElement41_classic_responsive" data-initial-left="50" data-initial-top="0" data-final-left="50" data-final-top="260" data-duration="0.5" data-fade-start="0" data-delay="0">Line One is here</div>
                        <div class="allinone_bannerRotator_text_line textElement42_classic_responsive" data-initial-left="53" data-initial-top="384" data-final-left="53" data-final-top="240" data-duration="0.5" data-fade-start="0" data-delay="0.3">Line Two over there</div>
                    </div>

                    <div id="allinone_bannerRotator_photoText5" class="allinone_bannerRotator_texts">
                        <div class="allinone_bannerRotator_text_line textElement51_classic_responsive" data-initial-left="130" data-initial-top="52" data-final-left="430" data-final-top="52" data-duration="0.5" data-fade-start="0" data-delay="0"><a href="http://codecanyon.net/user/LambertGroup" target="_blank">Cool Title Right Here</a></div>
                        <div class="allinone_bannerRotator_text_line textElement52_classic_responsive" data-initial-left="430" data-initial-top="300" data-final-left="430" data-final-top="95" data-duration="0.5" data-fade-start="0" data-delay="0.3">Lorem ipsum dolor sit amet, <a href="http://codecanyon.net/user/LambertGroup" target="_blank">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt. </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
