{% load thumbnail sekizai_tags %}
{% load static from staticfiles %}
{% addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "bannershow/carousel/js/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "bannershow/carousel/js/allinone_carousel.js" %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<!--[if IE]><script src="{% static "bannershow/carousel/js/excanvas.compiled.js" %}" type="text/javascript"></script><![endif]-->{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static "bannershow/carousel/allinone_carousel.css" %}" rel="stylesheet" type="text/css">{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
		jQuery(function() {
			jQuery('#carousel_{{ instance.pk }}').allinone_carousel({
                showOnInitNavArrows:{{ instance.showOnInitNavArrows|lower }},
                showOnInitBottomNav:{{ instance.showOnInitBottomNav|lower }},
                autoHideBottomNav:{{ instance.autoHideBottomNav|lower }},
                showCircleTimer:{{ instance.showCircleTimer|lower }},
                enableTouchScreen:{{ instance.enableTouchScreen|lower }},
                absUrl:'{% static "bannershow/carousel/" %}',
                skin:'{{ instance.skin }}',
                width: {{ instance.width }},
                height:{{ instance.height }},
                responsiveRelativeToBrowser:{{ instance.responsiveRelativeToBrowser|lower }},
                responsive:{{ instance.responsive|lower }},
                autoPlay: {{ instance.autoPlay|lower }},
                resizeImages:{{ instance.resizeImages|lower }},
                showNavArrows:{{ instance.arrows|lower }},
                numberOfVisibleItems:{{ instance.numberOfVisibleItems }},
                elementsHorizontalSpacing:{{ instance.elementsHorizontalSpacing }},
                elementsVerticalSpacing:{{ instance.elementsVerticalSpacing }},
                verticalAdjustment: {{ instance.verticalAdjustment }},
                animationTime:{{ instance.animationTime }},
                nextPrevMarginTop:{{ instance.nextPrevMarginTop }},
                playMovieMarginTop:{{ instance.playMovieMarginTop }},
                bottomNavMarginBottom:{{ instance.bottomNavMarginBottom }},
                showPreviewThumbs:false
			});
		});
    </script>
{% endaddtoblock %}
<!-- ------------------------------ Bannershow v3.0 -------------------------------------------------------->
{% spaceless %}
    <div class="bannershow carousel" id="#bannershow{{ instance.pk }}">
        <div id="containingDiv">
            <div id="carousel_{{ instance.pk }}">
                <div class="myloader"></div>
                {% if instance.images.all.count > 0 %}
                    <!-- SLIDES -->
                    <ul class="allinone_carousel_list">
                        <!--Actual content -->
                        {% for feature in instance.images.all %}
                            {% thumbnail feature.image instance.thumb_size crop upscale as thumb %}
                            <li data-title="{{ feature.title }}
                                <span class='slide_title'>{{ feature.caption }}</span>">
                                <a href="{{ feature.link.url }}"><img src="{{ thumb.url }}"
                                    width="{{ thumb.width }}"
                                    height="{{ thumb.height }}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <!-- SLIDES -->
                    <ul class="allinone_carousel_list">
                        <!--Demo content-->
                        <li data-title="Lorem ipsum dolor sit amet, consectetur <br><span class='slide_title'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>">
                            <a href="#?1"><img src="{% static "bannershow/carousel/images/powerful/01_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-link="http://codecanyon.net/user/LambertGroup" data-target="_blank" data-title="Excepteur sint occaecat cupidatat non proident <br><span class='slide_title'> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</span>">
                            <a href="#?2"><img src="{% static "bannershow/carousel/images/powerful/02_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-title="Lorem ipsum dolor sit amet, consectetur <br><span class='slide_title'>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span>">
                            <a href="#?3"><img src="{% static "bannershow/carousel/images/powerful/03_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-title="Culpa qui officia deserunt mollit anim id est <br><span class='slide_title'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>">
                            <a href="#?4"><img src="{% static "bannershow/carousel/images/powerful/04_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-title="Lorem ipsum dolor sit amet, consectetur <br><span class='slide_title'>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>">
                            <a href="#?5"><img src="{% static "bannershow/carousel/images/powerful/05_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-title="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam">
                            <a href="#?6"><img src="{% static "bannershow/carousel/images/powerful/06_powerful.png" %}" alt=""/></a>
                        </li>
                        <li data-title="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti">
                            <a href="#?7"><img src="{% static "bannershow/carousel/images/powerful/07_powerful.png" %}" alt=""/></a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
